USE [master]
GO
/****** Object:  Database [PP2023_KozlovS_ISP3120]    Script Date: 19.06.2023 20:32:47 ******/
CREATE DATABASE [PP2023_KozlovS_ISP3120]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PP2023_KozlovS_ISP3120', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PP2023_KozlovS_ISP3120.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PP2023_KozlovS_ISP3120_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PP2023_KozlovS_ISP3120_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PP2023_KozlovS_ISP3120].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PP2023_KozlovS_ISP3120]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 19.06.2023 20:32:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 19.06.2023 20:32:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BuyerID] [int] NULL,
	[ProductID] [int] NULL,
	[Quantity] [decimal](18, 3) NULL,
	[Price] [money] NULL,
	[Date] [datetime] NULL,
	[IsAccepted] [bit] NULL,
 CONSTRAINT [PK_Requests] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 19.06.2023 20:32:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Price] [money] NULL,
	[Quantity] [decimal](18, 3) NULL,
	[MinQuantity] [decimal](18, 3) NULL,
	[Unit] [nvarchar](50) NULL,
	[CategoryID] [int] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 19.06.2023 20:32:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 19.06.2023 20:32:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[Password] [nchar](32) NULL,
	[FullName] [nvarchar](100) NULL,
	[RoleID] [int] NULL,
 CONSTRAINT [PK_Users_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([ID], [Name]) VALUES (1, N'Брусья')
INSERT [dbo].[Category] ([ID], [Name]) VALUES (2, N'Доски')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([ID], [BuyerID], [ProductID], [Quantity], [Price], [Date], [IsAccepted]) VALUES (2, 3, 2, CAST(1.000 AS Decimal(18, 3)), 1300.0000, CAST(N'2023-06-14T18:53:29.993' AS DateTime), 0)
INSERT [dbo].[Order] ([ID], [BuyerID], [ProductID], [Quantity], [Price], [Date], [IsAccepted]) VALUES (3, 3, 3, CAST(2.000 AS Decimal(18, 3)), 1300.0000, CAST(N'2023-06-14T18:53:36.733' AS DateTime), 1)
INSERT [dbo].[Order] ([ID], [BuyerID], [ProductID], [Quantity], [Price], [Date], [IsAccepted]) VALUES (4, 4, 4, CAST(1.000 AS Decimal(18, 3)), 600.0000, CAST(N'2023-06-14T19:07:59.357' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ID], [Name], [Price], [Quantity], [MinQuantity], [Unit], [CategoryID]) VALUES (1, N'Брус 3000*100*40', 1000.0000, CAST(9.000 AS Decimal(18, 3)), CAST(10.000 AS Decimal(18, 3)), N'шт.', 1)
INSERT [dbo].[Product] ([ID], [Name], [Price], [Quantity], [MinQuantity], [Unit], [CategoryID]) VALUES (2, N'Брус 3000*140*40', 1300.0000, CAST(0.000 AS Decimal(18, 3)), CAST(30.000 AS Decimal(18, 3)), N'шт.', 1)
INSERT [dbo].[Product] ([ID], [Name], [Price], [Quantity], [MinQuantity], [Unit], [CategoryID]) VALUES (3, N'Брус 3000*30*20', 700.0000, CAST(98.000 AS Decimal(18, 3)), CAST(40.000 AS Decimal(18, 3)), N'шт.', 1)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([ID], [Name]) VALUES (1, N'Сотрудник')
INSERT [dbo].[Role] ([ID], [Name]) VALUES (2, N'Клиент')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [PhoneNumber], [Password], [FullName], [RoleID]) VALUES (1, N'+79005307219', N'2C103F2C4ED1E59C0B4E2E01821770FA', N'Козлов Сергей Дмитриевич', 1)
INSERT [dbo].[User] ([ID], [PhoneNumber], [Password], [FullName], [RoleID]) VALUES (3, N'+78005553535', N'2C103F2C4ED1E59C0B4E2E01821770FA', N'Иванов Иван Иванович', 2)
INSERT [dbo].[User] ([ID], [PhoneNumber], [Password], [FullName], [RoleID]) VALUES (4, N'+79001234567', N'2C103F2C4ED1E59C0B4E2E01821770FA', N'Васильев Василий Васильевич', 2)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
/****** Object:  Trigger [dbo].[DeleteAfterDeletingProduct]    Script Date: 19.06.2023 20:32:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[DeleteAfterDeletingProduct]
ON [dbo].[Product]
INSTEAD OF DELETE AS
DELETE FROM [Order] WHERE ProductID = (SELECT ID FROM deleted)
DELETE FROM Product WHERE ID = (SELECT ID FROM deleted)
GO
ALTER TABLE [dbo].[Product] ENABLE TRIGGER [DeleteAfterDeletingProduct]
GO
USE [master]
GO
